* {
  box-sizing: border-box;
}
.profile {
  background-color: rgba(233, 237, 241, 0.582);
  width: 500px;
  height: fit-content;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.avatar {
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;

  background-color: rgba(0, 0, 0, 0.719);
}

.username {
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
}

.usertag {
  font-size: 25px;
  color: gray;
  text-align: center;
}

.location {
  composes: usertag;
}

.statList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: gray;
  width: 100%;
  padding: 15px 0;
  margin: 0;
  border-top: 2px solid rgb(0, 0, 0);
}

.statListItem {
  display: block;
  padding: 20px;
}
